<div class="card text-center card-yacht">
  <% if locals.yacht.photos.attached? %>
   <%= image_tag locals.yacht.photos.sample, class: 'card-img-top', height: 190 %>
  <% end %>
  <div class="card-body">
    <h4 class="card-title font-weight-bold mb-0"><%= locals.yacht.title %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Total: <strong><%= number_with_delimiter(locals.price.round) %>€</strong></li>
    <li class="list-group-item">From: <strong><%= locals.from.strftime("%d/%B/%Y") %></strong></li>
    <li class="list-group-item">To: <strong><%= locals.to.strftime("%d/%B/%Y") %></strong></li>
    <% if action_name == 'user_bookings' %>
      <% if locals.payment_status == 'pending' %>
        <%= link_to "Complete payment", booking_checkout_path(locals), class: 'btn btn-danger w-75 my-3 mx-auto' %>
      <% else %>
        <%= link_to "Paid", booking_checkout_path(locals), class: 'btn btn-success w-75 my-3 mx-auto' %>
      <% end %>

    <% end %>
  </ul>
</div>
