<div class="container text-center">
  <div class="row py-4">
    <div class="col">
      <div class="mb-4">
        <h1 class="d-inline">
        Order #<%= @booking.id %>
        <small style="vertical-align: 5px">
          <span class="badge badge-<%= @booking.payment_status == 'paid' ? 'success' : 'warning' %>"><%= @booking.payment_status %></span>
        </small>
        </h1>
      </div>
      <%= render 'booking_cards', locals: @booking %>
      <% if @booking.payment_status == 'pending' %>
        <%= render 'pay' %>
      <% else %>
        <div class="mt-4">Paid on <%= @booking.updated_at.strftime("#{@booking.updated_at.day.ordinalize} of %B, %Y") %></div>
      <% end %>
    </div>
  </div>
</div>
