<%= link_to 'Back to results', yachts_path %>
<h2 class="mt-2 mb-3"><%= @yacht.title.titlecase %></h2>

<% if @yacht.photos.attached? %>

  <% indicators = divs = '' %>
  <% @yacht.photos.each.with_index do |photo, idx| %>
    <%
      active = idx == 0 ? 'active' : ''
      indicators += <<-STRING
        <li data-target="#carouselExampleIndicators" data-slide-to="#{idx}" class="#{active}"></li>
      STRING

      divs += <<-STRING
        <div class="carousel-item #{active}">
          #{cl_image_tag photo.key}
        </div>
      STRING
    %>
  <% end %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <%= indicators.html_safe %>
    </ol>
    <div class="carousel-inner">
      <%= divs.html_safe %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

<div class="row no-gutters mt-5">
  <div class="col-12 col-sm-6 col-md-8">
    <div>
      <h4>Description</h4>
      <p class="box"><%= @yacht.description %></p>
    </div>

    <% if @yacht.service_types.present? %>
    <div>
      <h4>Services</h4>
      <ul class="box">
        <% @yacht.service_types.each do |service| %>
          <li><%= service.name %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <% if @yacht.equipment_types.present? %>
    <div>
      <h4>Equipments</h4>
      <ul class="box">
        <% @yacht.equipment_types.each do |equipment| %>
          <li><%= equipment.name %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  </div>

  <div class="col-6 col-md-4">
    <div>

      <div class="card user-info text-center p-3 w-75 mx-auto mb-3">
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong><%= @yacht.price_per_day %>€</strong> / day</li>
            <li class="list-group-item"><strong><%= @yacht.bed_space %></strong> bed spaces</li>
          </ul>

          <div class="card-body">
            <p class="card-text">
              <% if @yacht.user_id == current_user.id %>
                <% if policy(@yacht).destroy? %>
                  <%= link_to "Edit yacht", yacht_edit_path(@yacht), class: 'btn btn-warning' %>
                <% end %>
                <% if policy(@yacht).update? %>
                  <%= link_to "Remove", yacht_path(@yacht), method: :delete, class: 'btn btn-outline-danger' %>
                <% end %>
              <% elsif user_signed_in? %>
                <%= simple_form_for([ @yacht, @booking ]) do |f| %>
                  <%= f.input :from, as: :date,
                            html5: true,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "title" }%>
                  <%= f.input :to, as: :date,
                          html5: true,
                              required: true,
                              input_html: { autocomplete: "description" } %>
                  <%= f.button :submit, "Book yacht!", class: 'btn btn-primary w-100'%>
                <% end %>
              <% else %>
                 <%= link_to 'To book, you must login', new_user_session_path, class: 'btn btn-outline-danger' %>
              <% end %>
            </p>
        </div>
      </div>

    </div>

    <div>
      <div class="card user-info text-center p-3 w-75 m-auto">
        <%= @user.navbar_avatar(size: 80) %>
        <div class="card-body">
          <h5><%= @user.first_name %></h5>
          <p class="card-text">
            Joined <time class="timeago" datetime="<%= @user.created_at.iso8601 %>"></time>
          </p>
          <p class="card-text">
            <%= link_to 'See other yachts', yacht_user_path(@user), class: 'btn btn-outline-info' %>
          </p>
        </div>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="text-center mt-4">
      <% if @favorite %>
        <%= link_to 'Remove from favorites', favorite_path(@favorite), class: 'btn btn-outline-danger', method: :delete %>
      <% else %>
        <%= link_to 'Add to favorites!', user_favorite_path(@yacht), class: 'btn btn-success', method: :post %>
      <% end %>
      </div>
    <% end %>

  </div>

</div>

<h4>Location</h4>
<p><%= @yacht.address %></p>
<div class="row">
  <div class="col">
    <div style="height: 30vh" class="mb-2 position-relative">
      <div id="map" data-apikey="<%= ENV['MAPBOX_KEY'] %>" data-latitude="<%= @yacht.lat %>" data-longitude="<%= @yacht.long %>">
      </div>
  </div>
  </div>
</div>

  <%= simple_form_for [ @yacht, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Submit Review", method: :post, class: "btn btn-primary" %>
 <% end %>

<ul class="list-group" style="padding-top: 10px">
  <% @yacht.reviews.each do |review| %>
     <li class="list-group-item">
      <div class="row">
        <div class="col-8">
          <%= '<i class="fas fa-star"></i>'.html_safe * (review.rating || 0) %>
          <p><%= review.content %></p>
        </div>
        <div class="col-4" id="be">
          <%= "From:"%>
          <p><%= review.user.full_name %></p>
        </div>
      </div>
    </li>
         <div class="bes">
             <%= link_to "Remove",
                  review_delete_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
         </div>

  <% end %>
</ul>




<style>
.box {
  background-color: #f3f3f3;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  list-style: none;
}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.user-info .avatar {
  width: 80px;
  margin: auto;
}

#be {
  text-align: right;
}

#be p {
  font-weight: bolder;
}

.bes {
  padding-top: 10px;
}


.fa-star {
  color: yellow;
}

</style>










