<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">How it works:</h1>
</div>

<div class="container-steps" style="background-image: url(<%= image_path 'footer.jpg' %>)">

  <% if user_signed_in? %>
    <%= link_to yachts_new_path, class: 'step-item' do %>
      <i class="fas fa-user-plus iconDetails"></i>
      <div class="icon-steps">
        <h4>Add</h4>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_registration_path, class: 'step-item' do %>
      <i class="fas fa-user-plus iconDetails"></i>
      <div class="icon-steps">
        <h4>Register</h4>
      </div>
    <% end %>
  <% end %>

  <%= link_to yachts_path, class: 'step-item', id: "besi" do %>

    <i class="fas fa-ship iconDetails"></i>
    <div class="icon-steps">
      <h4>Choose</h4>
    </div>
  <% end %>

  <%= link_to yacht_user_path(current_user || 1), class: 'step-item' do %>
    <i class="fas fa-anchor iconDetails"></i>
	  <div class="icon-steps">
	    <h4>Sail!</h4>
	  </div>
  <% end %>
</div>




<style type="text/css">
  @media screen and (max-width: 600px) {

   .step-item {
      margin: 5px;
   }
   .step-item > #besi {
    margin: 0px, 15px;
   }
}
</style>



