<!DOCTYPE html>
<html>
  <head>
    <title>YachtRenting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="<%= image_path 'yacht.svg' %>" type="image/x-icon">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= render 'layouts/header' %>
    <% end %>

    <div class="container my-3 bg-white p-3 rounded" id="content">
      <%= yield %>
    </div>
    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
